<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Student Management System</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="font-mono">
        <nav class="w-full border-b border-b-slate-500 px-6 py-3">
            <ul class="max-w-7xl w-full mx-auto flex items-center gap-8">
                <li><a href="/" class="hover:underline underline-offset-4">Create Student</a></li>
                <li><a href="/students" class="hover:underline underline-offset-4">Get All Students</a></li>
            </ul>
        </nav>
