<%- include('./partials/header.ejs') %>
<main class="w-full h-screen flex flex-col items-center justify-center">
	<h1 class="font-semibold text-rose-400 text-3xl">Something Went Wrong!</h1>
	<h2 class="font-semibold text-rose-400 text-xl">Try again later!</h2>
	<p>Error Message: <%= message %></p>
</main>
<%- include('./partials/footer.ejs') %>
